$color: #000000;

.custom-black-field {

    input,
    .custom-black-field input {
        color: $color;
        border: 1px solid $color; // Ensure border exists
        border-top: 1px solid transparent !important; // Make only top transparent on default

        &:focus {
            border-top-color: transparent !important;
            outline: none !important; // Remove default focus outline
        }
    }

    label,
    .custom-black-field label {
        color: $color;
    }
}

// $custom-field-color: #757575;
$custom-field-color: $color;

.custom-select-field {
    height: 100% !important;
    border-radius: 8px !important;
    $padding-y: 4.5px !important;

    .ant-select-selector {
        border-color: $custom-field-color !important;
        box-shadow: none !important;
        padding-top: $padding-y;
        padding-bottom: $padding-y;

        input {
            color: $custom-field-color;
            font-weight: 500;
        }

        .ant-select-selection-placeholder {
            color: #000000 !important;
        }
    }

    .ant-select-focused {
        border-color: $custom-field-color !important;
        outline: $custom-field-color !important;
        box-shadow: none !important;
    }

    .ant-select-arrow {
        color: $custom-field-color !important;
    }
}

.custom-date-field {
    $padding-y: 7.5px !important;
    height: 100% !important;
    border-color: $color !important;
    outline: none !important;
    padding-top: $padding-y;
    padding-bottom: $padding-y;

    .ant-picker-input {
        input::placeholder {
            color: $color !important;
        }

        .ant-picker-suffix {
            color: $color !important;
        }
    }
}